<html>
<body>
<p>
Buenas tardes Sr. <u>%nombre_remitente%</u>.
<br><br>
La Oficina <u>%nombre_oficina%</u>, solicita la autorización de eliminación de la operación  
con identificación <u>%codigo_operacion%</u>:
<br><br>
<b>Motivo Eliminación:</b>
<br>
%motivo_eliminacion%
<br><br>
Para mayor detalle y gestione la Solicitud, ingrese al <a href="http://datos.remax.pe/" target="_blank">Sistema</a>.
<br><br><br>
Este es un mensaje generado automáticamente, por favor no responda este mensaje.
</p>
</body>
</html>